{% extends "base.html" %}
{% block content %}
    <style>
    th,
    td {
    border: 1px solid #aaaa;
    padding: 5px;
    text-align: left;
}
    </style>
    <h1>Employees</h1>
    {% if user.is_superuser %}
        <div class="container">
            <table>
            <thead><th>first name:</th><th>last name:</th><th>username:</th></thead>
            <tbody>
            {% for users in allusers %}
                <tr>
                    <td>{{ users.first_name }}</td>
                    <td>{{ users.last_name }}</td>
                    <td>{{ users.username }}</td>
                    {% if users.id != user.id %}{% if users.id != 1 %}<td><a class="btn btn-outline-secondary btn-sm" href="{% url 'remove-employee' users.id %}">Delete</a></td>{% endif %}{% endif %}
                    <td><a class="btn btn-outline-secondary btn-sm" href="{% url 'edit-employee' users.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}