{% load static %}
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: var(--bs-orange);"><b>17th Lane</b>
        <img class="navbar-brand" alt="no image" src="{% static 'images/lan17.png' %}" width="50" height="50">
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
    </div>

    <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">

                <a >
                    <img src="{{ user.profiles.image.url }}" style="max-width: 43px; max-height: 43px; padding: 2px; background: dodgerblue; border-radius: 6px;">
                    {{ user.username }}
                </a>

            {% if user.is_authenticated %}
                <p>&nbsp;</p>
                <li><a href="{% url 'logout' %}">logout</a></li>
                {% if user.is_superuser %}
                    <p>&nbsp;</p>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <p>&nbsp;</p>
                    <li><a href="{% url 'edit' %}">Edit</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
        </ul>
    </div>
</nav>